.button {
  width: max-content;
  border-radius: 3.5px;
  padding: 8px 14px;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  cursor: pointer;
  font-size: var(--ts-body);
  font-family: var(--font-body);
  font-weight: 500;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.button--primary {
  background: var(--primary);
  color: var(--light);
  border: none;
}

.button--secondary {
  background: var(--secondary);
  color: var(--light);
  border: none;
}

.button--accent {
  background: var(--accent);
  color: var(--dark);
  border: none;
}

.button--with-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button--with-icon.button--primary {
  background: var(--primary);
}
