.links-group {
  display: flex;
  flex-direction: column;
}

a,
.link {
  font-size: var(--ts-body);
  font-family: var(--font-body);
  font-weight: 500;
  color: var(--secondary);
  text-underline-offset: 3px;
}

a.link.link--primary {
  color: var(--primary);
}

a.link.link--with-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

a.link.link--tag {
  text-decoration: none;
  border-radius: 6px;
  border: 2px solid var(--accent);
  color: var(--accent);
  font-size: var(--ts-meta);
  letter-spacing: 1px;
  padding: 4px 16px;
}
