:root {
  --primary: #537479; /* Teal */
  --secondary: #774836; /* Brown */
  --accent: #41354d; /*Purple */
  --highlight: #ee592e; /* Bold Orange */

  --neutral: #f3cda9; /* Very light orange */
  --neutral-light: #f9e1c9;
  --neutral-lightest: #fefaf6;
  --neutral-dark: #27202e; /* Dark Purple */
  --neutral-darkest: #1e120d; /* Dark Brown */

  --text-primary: #41354d;

  /* Fonts */
  --heading-h1: "manteiga-gorda", Impact, Helvetica;
  --heading: "multi-display", Helvetica, ui-sans-serif;
  --body: "multi-display", Helvetica, ui-sans-serif, sans-serif;
  --font-accent: "henderson-slab-basic", serif;
}

.content-wrapper {
  max-width: 960px;
  margin: 3rem auto;
}

@media screen and (max-width: 1023px) {
  .content-wrapper {
    max-width: 90vw;
    margin: 3rem 1.5rem;
  }
}
