.card {
  display: block;
  color: #121212;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  height: 250px;
  min-height: 250px;
  margin: 1rem;
  position: relative;
  text-decoration: none;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

@media and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media and (max-width: 1024px) {
  .card {
    width: calc(50% - 2rem);
  }
}

.card h2 {
  width: 100%;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.card.card--basic {
  padding: 2rem;
  background: var(--light);
  box-shadow: -18px 18px 0 var(--accent);
}

.card.card--basic .card-info {
  margin-bottom: 1rem;
}

.card.card--flip {
  perspective: 1000px;
}

.card .card-title {
  display: flex;
  flex-direction: column;
  width: max-content;
  position: relative;
  bottom: -70px;
  padding-left: 2rem;
  z-index: 5;
  /* background: var(--highlight); */
}

.card .card-title span {
  height: 8px;
  width: 80%;
  border-radius: 1px;
  position: relative;
  background: var(--highlight);
  transform: skew(-30deg);
}

.card.card--flip .card-title h2 {
  text-align: left;
  width: max-content;
  position: relative;
  margin: 0.5rem 0;
}

.card--flip .front,
.card--flip .back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.card--flip .front {
  background-size: cover;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--neutral-lightest);
  overflow: hidden;
  font-family: sans-serif;
}

.card--flip img {
  height: 100%;
  position: absolute;
  z-index: 1;
}

.card--flip h2 {
  z-index: 3;
}

.card--flip .overlay {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(transparent 20px, var(--dark));
  z-index: 2;
}

.card--flip:hover .front {
  transform: rotateY(180deg);
}

.card--flip:nth-child(even) .front {
  transform: rotateY(-180deg);
}

.card--flip .back {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  text-align: left;
  background: var(--highlight);
  color: var(--dark);
  transform: rotateY(-180deg);
}

.card--flip .card-info,
.card--flip strong {
  padding: 2rem;
}

.card--flip:hover .back {
  transform: rotateY(0deg);
}

/* 
.card:nth-child(even) .back {
  transform: rotateY(180deg);
}

.card:nth-child(even) button {
  background: var(--highlight);
}

.card:nth-child(even) button::before {
  box-shadow: 0 0 10px 10px rgba(119, 72, 54, 0.25);
  background-color: rgba(119, 72, 54, 0.25);
}

.card:nth-child(even):hover .back {
  transform: rotateY(0deg);
} */
