h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: var(--heading);
}

h1,
.h1 {
  font-family: var(--heading-h1);
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

p {
  font-family: var(--font-body);
  font-size: 18px;
}

blockquote {
  font-family: var(--font-accent);
  font-size: 28px;
}
